
<html>
<head>

    <title>ApCurs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/icomoon-social.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link href="~/Content/leaflet.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />


    <script src="~/Scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>








    <script src='https://www.google.com/recaptcha/api.js'></script>


</head>
<body>

    <div class="mainmenu-wrapper">
        <div class="container">           
                    @{Html.RenderPartial("TopMenu"); }            
        </div>
    </div>

    
        @RenderBody()
    

        @{Html.RenderPartial("Footer"); }

</body>
</html>