
  <html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/main.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body style="background-color:white">
    <div class="container" style="height:100%">
        @{Html.RenderPartial("TopMenu"); }


        @RenderBody()


        @*@{Html.RenderPartial("Footer"); }*@
        </div>

</body>




</html>
       
       

  
