
  <html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />

</head>
<body style="background-color:white">
    <div class="container" style="height:100%">
        @{Html.RenderPartial("TopMenu"); }


        @RenderBody()


        @{Html.RenderPartial("Footer"); }
        </div>

</body>




</html>
       
       

  
