

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="~/Content/jquery-ui.custom.min.css" rel="stylesheet" />
<link href="~/Content/TopMenu.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />

<style>
    .search {
        width: 100px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-image: url(~/icons/search_icon.png);
    }

        .search:focus {
            width: 200px;
        }

   
</style>

<div class="menuextras" style="width:1300px">

    <div class="extras">
        <ul>
            <li style="font-size:13px"><a href="@Url.Action("Login","Account")">Giriş Yap</a></li>
            <li style="font-size:13px"><a href="@Url.Action("UserRegister","Account")">Kaydol</a></li>
        </ul>
    </div>
    <div class="extras">
        <ul style="float:left;margin-left:150px">
            <li><a href="page-login.html">Ana Sayfa ></a></li>
            <li style="padding:0"><a href="page-login.html">Blog</a></li>

        </ul>
    </div>



</div>

<nav id="mainmenu" class="mainmenu" style="width:1300px;">

    <ul>
        <li class="logo-wrapper"><a href="index.html"><span style="font-size:30px; color:black;">ApCurs</span></a></li>


        <li class="dropdown">
            <a href="#" tabindex="-1" class="clearfix">
                <span class="tech">Teknolojiler </span><i class="fa fa-angle-down" aria-hidden="true"></i>

            </a>

            <ul class="dropdown-content">

                <div class="row" style="margin:0 10px 0 10px">



                    <div class="pricing-plan">
                        <a href="#">
                            <img src="http://via.placeholder.com/150x100" />
                        </a>
                    </div>


                    <div class="pricing-plan">
                        <a href="#">
                            <img src="http://via.placeholder.com/150x100" />
                        </a>
                    </div>



                    <div class="pricing-plan">
                        <a href="#">
                            <img src="http://via.placeholder.com/150x100" />
                        </a>
                    </div>


                    <div class="pricing-plan">
                        <a href="#">
                            <img src="http://via.placeholder.com/150x100" />
                        </a>
                    </div>
                </div>

                <div class="row" style="margin:0 10px 0 10px">

                    <div class="pricing-plan">
                        <a href="#">
                            <img src="http://via.placeholder.com/150x100" />
                        </a>
                    </div>


                    <div class="pricing-plan">
                        <a href="#">
                            <img src="http://via.placeholder.com/150x100" />
                        </a>
                    </div>


                    <div class="pricing-plan">
                        <a href="#">
                            <img src="http://via.placeholder.com/150x100" />
                        </a>
                    </div>


                    <div class="pricing-plan">
                        <a href="#">
                            <img src="http://via.placeholder.com/150x100" />
                        </a>
                    </div>
                </div>
            </ul>
        </li>


        <li>
            <a href="index.html">Sorular</a>
        </li>
        <li>
            <a href="credits.html">Makaleler</a>
        </li>

        <li class="has-submenu">
            <a href="#">Tartışma</a>

        </li>
        <li>
            <a href="credits.html">Etkinlik</a>
        </li>
        <li>
            <a href="features.html">Uzman</a>
        </li>

        <li style="margin-left:20px;">
            <form>
                <input class="search" type="text" name="search" placeholder="Ara..">
            </form>
        </li>
         
        <li class="dropdown" style="float:right;">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-xZzBpHg1fV7QrhfaKP7-FUpOuV5UPpTl5G7CRY1IR1vb_VhYOg" width="40" height="40">
              
                <span class="">
                    <small>Hoşgeldin,</small>
                    Jason
                </span>
            </a>
           
            <ul class="dropdown-content" style="min-height:30px;">
                <li><a href="page-user.html"><i class="fa fa-cog fa-lg"></i> Profilimi Düzenle</a></li>
                <li><a href="page-user.html"><i class="fa fa-cog fa-lg"></i> Parola Değiştir</a></li>
                <li><a href="page-user.html"><i class="fa fa-cog fa-lg"></i> Ayarlar</a></li>
                <li><a href="page-user.html"><i class="fa fa-user fa-lg"></i> Profilim</a></li>
                <li><a href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Çıkış</a></li>
            </ul>
        </li>

    </ul>

</nav>





<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
