
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-primary" style="width:50%;margin-left: 350;margin-top: 90; height: 150; margin-bottom:145px;">
    <div class="panel-heading" style="height: 40;">
        <h3 class="panel-title">Apcurs Hesabı Email Doğrulama</h3>
    </div>
    <div class="panel-body"> Lütfen E-posta Gelen Kutunuzu kontrol edin,<br /> @ViewBag.Email adresine onaylamak için bir onay E-postası gönderildi.</div>
</div>

